<section class="main-wrapper text-right">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-head">
                    <h2 class="section-title">من هي شركة الفاتح</h2>
                    <p class="p-description">
                        شركة الفاتح هي شركة عراقية تخصصت في برمجة المواقع و التطبيقات وذلك في خبرة تتخطى السبع سنوات 
                        <br>
                        من الابداع و التميز و ايضا لدينا خبرة كبيرة بأنظمة الادارة و الحسابات
                    </p>
                </div> 
            </div>           
        </div>
    </div>

    <div class="section-description-mobile">
        <div class="container h-100">
            <div class="row h-100" style="align-items: center;">
                <div class="col-md-12">
                    <div class="wrapper">
                        <h2 class="section-title section-sub-title">برمجة تطبيقات الموبايل</h2>
                        <p class="p-description">
                            تخصصنا ببرمجة التطبيقات لذلك تجدنا دائما متميزين بها نقوم ببرمجتها
                            <br>
                            بأحدث لغات البرمجة و الاساسية java, kotlin, swift
                            <br>
                            و ليس هذا و حسب ولكن ايضا تميزنا بكتابة كود نظيف يسهل اختباره وذلك
                            <br>
                            تطويره فيما بعد و ايضا يضمن لك اداء افضل للتطبيق
                        </p>
                        <div class="img"></div>
                    </div>                      
                </div>           
            </div>
        </div>
    </div>

    <div class="section-description-web">
        <div class="container h-100">
            <div class="row h-100" style="align-items: center;">
                <div class="col-md-12">
                    <div class="wrapper">
                        <h2 class="section-title section-sub-title">برمجة المواقع الالكترونية</h2>
                        <p class="p-description">
                            اذا كنت تبحث عن موقع متميز و تصميم فريد فنحن الخيار الامثل لك
                            <br>
                            فنحن نقوم بعمل التصاميم الحديثة و المتداولة في المواقع العالمية
                            <br>
                            كما نستخدم ايضا احدث التقنيات لبرمجة التطبيقات و ايضا عمل apis
                            <br>
                            الخاصة بالتطبيق
                        </p>
                        <div class="img"></div>
                    </div>                      
                </div>           
            </div>
        </div>
    </div>

    <div class="section-description-system">
        <div class="container h-100">
            <div class="row h-100" style="align-items: center;">
                <div class="col-md-12">
                    <div class="wrapper">
                        <h2 class="section-title section-sub-title">برمجة انظمة الحسابات و الادارة</h2>
                        <p class="p-description">
                            اذا كنت تبحث عن موقع متميز و تصميم فريد فنحن الخيار الامثل لك
                            <br>
                            فنحن نقوم بعمل التصاميم الحديثة و المتداولة في المواقع العالمية
                            <br>
                            كما نستخدم ايضا احدث التقنيات لبرمجة التطبيقات و ايضا عمل apis
                            <br>
                            الخاصة بالتطبيق
                        </p>
                        <div class="img"></div>
                    </div>                      
                </div>           
            </div>
        </div>
    </div>
</section>