<section id="js_check_home" class="contact-wrapper">
    <app-contact></app-contact>
</section>

<footer class="main-footer">
    <div class="container-fluid" style="padding-top: 50px;">
        <div class="row align-center" style="align-items: center;">
            <div class="col-md-6 text-center">
                <img src="./../../../../assets/img/Group9.png" alt="logo" />
            </div>
            <div class="col-md-6">
                <h2 class="section-title text-center">تجدنا بقربك في اي وقت</h2>
                <ul class="list-unstyled">
                    <li matRipple>
                        <a href="#" target="_blank">
                            <img src="./../../../../assets/img/Bitmap.png" alt="social" />
                        </a>
                    </li>
                    <li matRipple>
                        <a href="#" target="_blank">
                            <img src="./../../../../assets/img/Bitmap2.png" alt="social" />
                        </a>
                    </li>
                    <li matRipple (click)="goWhatsApp()" style="cursor: pointer;">
                        <img src="./../../../../assets/img/whats.png" alt="social" />
                    </li>                                        
                </ul> 
                <ul class="list-unstyled">
                    <li matRipple>
                        <a routerLink="/faq">
                            الاسئلة الشائعة -
                        </a>
                    </li>
                    <li matRipple>
                        <a routerLink="/policy">
                            سياسة الشركة -
                        </a>
                    </li>
                    <li matRipple>
                        <a routerLink="/about">
                            من نحن
                        </a>
                    </li>                                        
                </ul>                               
            </div>  

            <div class="col-md-12">
                <p class="text-center" style="color: #000; font-weight: bold; padding-top: 50px; margin-bottom: 0;">
                    جميع الحقوق محفوظة لشركة الفاتح
                </p>
            </div>
        </div>
    </div>
</footer>