<section class="site-intro">
    <div class="container">
        <h3 class="text-center section-title" style="padding-top: 40px;">الفاتح باختصار</h3>
        <div class="row">
            <div class="col-md-6 text-center" *ngFor="let i of intro">
                <div class="intro-box">
                    <div class="intro-img">
                        <img [src]="i.img" alt="img" />
                    </div>
                    <div class="intro">
                        <p class="p-description">
                            {{i.content}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>