<section class="main-wrapper text-right">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-head">
                    <h2 class="section-title section-sub-title">سياسة الشركة</h2>
                    <p class="p-description">
                        الهدف الاساسي لنات هو تحقيق النجاح لكل متجر مشترك معنا و بذل الجهد 
                        <br>
                        لتحقيق ذلك باسرع وقت و اقل جهد.
                    </p>
                </div> 
            </div>           
        </div>
    </div>
</section>